<div class="content footer-user fade-in-fwd" layout="column" layout-xs="column">
  <span class="spacer"></span><span class="spacer"></span><span class="spacer"></span>
  <nav flex>
    <span>
      <i class="material-icons md-16">&#xE88A;</i> <a href="/">Back home</a>
    </span>
    &nbsp;&nbsp;
    <span class="email">
      <i class="material-icons md-16">&#xE0BE;</i>&nbsp;<a href="mailto:hello@revisionwise.com" title="Write to us">hello@revisionwise.com</a>
    </span>
    &nbsp;&nbsp;
    <!--<span class="call">
      <i class="material-icons md-16">call</i>&nbsp;<a href="tel:0717565133">0717565133</a>
    </span>-->
  </nav>
  <nav flex>
    <span class="spacer"></span>
    <!--<span class="copyright"><a href="http://habahaba.co" aria-lable="Visit Haba Haba's website" target="_blank">&copy; Haba Haba & Co</a></span>-->
  </nav>
  <span class="spacer60"></span>

</div>
