<div class="content" ng-controller="homeController" layout="row" layout-xs="column">
  <nav class="footer-left" flex>
    <span>
      <strong>GET IN TOUCH</strong>
      &nbsp;&nbsp;
      <span class="email">
        <i class="material-icons md-16">&#xE0BE;</i>&nbsp;<a href="mailto:hello@revisionwise.com" title="Write to us">hello@revisionwise.com</a>
      </span>
      &nbsp;&nbsp;
      <!--<span class="call">
        <i class="material-icons md-16">call</i>&nbsp;<a href="tel:0717565133">0717565133</a>
      </span>-->
    </span>
    <span>

    </span> <a href="#" title="Privacy Policy"></a>
  </nav>
  <nav class="footer-right" flex>
      <img ng-src="assets/img/rw-logo-mini.png" height="32" alt="RevisionWise" />
      <!--<span class="copyright"><a href="http://habahaba.co" aria-lable="Visit Haba Haba's website" target="_blank">&copy; Haba Haba</a></span>-->
  </nav>
</div>
