<div class="content auth r844-verify text-center">
  <img ng-src="assets/img/rw-logo_alt.png" height="42" alt="RevisionWise" class="app-logo" />
  <div class="panel r844-verify text-center border-radius-x2 fade-in-top">
    <div class="form-wrapper">
      <h1 class="condensed fc-subtitle" flex>RESET PASSWORD</h1>
      <div class="form-error text-center" ng-show="errorMsg">
        <p><i class="material-icons md-18">report_problem</i> &nbsp;{{ errorMsg }}</p>
      </div>
      <!-- ****** RESET PASSWORD FORM 2 ****** -->

      <form name="pwdSubmitFormR844" novalidate ng-submit="submitNewPassword(user)">
        <!-- PASS -->
        <div class="input-wrapper" ng-class="{ 'input-error' : submitted && pwdSubmitFormR844.password.$invalid }">
          <label class="text-left">&nbsp;Enter your new password <span class="required">*</span></label>
          <input type="password" name="password" ng-model="user.password" required ng-model-options="{ updateOn: 'blur' }">
          <div class="help-block" ng-messages="pwdSubmitFormR844.password.$error" ng-show="submitted">
            <p ng-message="required">Password is required</p>
          </div>
        </div>
        <!-- CONF PASS -->
        <div class="input-wrapper" ng-class="{ 'input-error' : submitted && pwdSubmitFormR844.confirm_password.$invalid }">
          <label class="text-left">&nbsp;Confirm your new password <span class="required">*</span></label>
          <input type="password" name="confirm_password" ng-model="user.confirm_password" required ng-model-options="{ updateOn: 'blur' }" match-password="password">
          <div class="help-block" ng-messages="pwdSubmitFormR844.confirm_password.$error" ng-show="submitted">
            <p ng-message="required">Password is required</p>
            <p ng-message="passwordMatch">Passwords do not match</p>
          </div>
        </div>

        <!-- TOKEN -->
        <input class="hidden" type="text" name="token" ng-model="user.token" required ng-init="user.token = reset_token">

        <!-- SUBMIT BUTTON -->
        <md-button type="submit" class="yellow wide" aria-label="Submit">
          <span ng-hide="submitting">Submit</span> <span ng-show="submitting">Submitting...</span>
        </md-button>
        <br><span class="loader" ng-show="submitting"><img src="assets/img/loader.gif" alt=""></span>
      </form>
    </div>
    <a href="#!/user" title="RevisionWise user login" class="full-width lg-link">
      <i class="material-icons md-20">arrow_back</i> Back to <strong>RevisionWise</strong> login.
    </a>
  </div>
  <div class="fade05 font12" ng-include="'/templates/footer-user.html'"></div>
</div>
