<div class="content main-content loggedin profile-update text-center">
  <span class="spacer60"></span>
  <div class="profile-update panel text-center border-radius-x2 fade-in-top">
    <div class="form-wrapper">
      <h1 class="condensed fc-subtitle" flex>UPDATE PIN</h1>
      <div class="form-error text-center" ng-show="errorMsg">
        <p><i class="material-icons md-18">&#xE8B2;</i> &nbsp;{{ errorMsg }}</p>
      </div>

      <!-- ****** PROFILE UPDATE PHONE ****** -->

      <form name="updatePin" novalidate ng-submit="updateUserPin(user)">

        <!-- PIN 1 -->
        <div class="input-wrapper" ng-class="{ 'input-error' : (submitted && updatePin.pin.$invalid) || (submitted && updatePin.pin.$invalid) }">
          <label class="text-left">&nbsp;Enter your new 4-digit pin <span class="required">*</span></label>
          <input type="password" name="pin" ng-model="user.pin" ng-minlength="4" ng-maxlength="4" required ng-model-options="{ updateOn: 'blur' }">
          <div class="help-block" ng-messages="updatePin.pin.$error" ng-show="submitted">
            <p ng-message="required">Pin is required</p>
            <p ng-message="maxlength">Pin should be 4 digits</p>
            <p ng-message="minlength">Pin should be 4 digits</p>
          </div>
        </div>
        <!-- PIN 2 -->
        <div class="input-wrapper" ng-class="{ 'input-error' : (submitted && updatePin.confirm_pin.$invalid) || (submitted && updatePin.confirm_pin.$invalid) }">
          <label class="text-left">&nbsp;Confirm your new 4-digit pin <span class="required">*</span></label>
          <input type="password" name="confirm_pin" ng-model="user.confirm_pin" ng-minlength="4" ng-maxlength="4" required ng-model-options="{ updateOn: 'blur' }" match-password="pin">
          <div class="help-block" ng-messages="updatePin.confirm_pin.$error" ng-show="submitted">
            <p ng-message="passwordMatch">Pins don't match</p>
            <p ng-message="required">Pin is required</p>
            <p ng-message="maxlength">Pin should be 4 digits</p>
            <p ng-message="minlength">Pin should be 4 digits</p>
          </div>
        </div>
        <!-- SUBMIT BUTTON -->
        <md-button type="submit" class="yellow wide" aria-label="Submit">
          <span ng-hide="updating_info">Update pin</span> <span ng-show="updating_info">Updating...</span>
        </md-button>
        <br><span class="loader" ng-show="updating_info"><img src="assets/img/loader.gif" alt=""></span>
        <span class="spacer"></span>
        <span class="spacer"></span>
        <span class="text-center"><nobr><a href="#!/profile/update"><i class="material-icons md-18">&#xE5C4;</i>&nbsp;Back</a></nobr></span> &nbsp;
        <span class="text-center"><nobr><a href="#!/profile/update/phone"><i class="material-icons md-18">&#xE0DA;</i>&nbsp;Update phone?</a></nobr></span>
      </form>

    </div>
  </div>
  <span class="spacer60"></span>
</div>
